<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TumorScope - Homepage</title>
    <meta name="theme-color" content="rgb(206, 255, 255)">
    <link rel="shortcut icon" href="{{ url_for('logo', svg_path='logo.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('logo', svg_path='style.css') }}">
</head>

<body>
    <nav>
        <ul id="navbar">
            <li><a href="/" class="nav-active">Home</a></li>
            <li><a href="/patient">For Patient</a></li>
            <li><a href="/doctor">For Doctor</a></li>
        </ul>
    </nav>

    <main>
        <section id="info">
            <div class="container">
                <div class="header1">
                    <img id="logo-img" src="{{ url_for('logo', svg_path='logo.svg') }}" alt="logo" height="50">
                    <h1 class="headings">TumorScope</h1>
                </div>
                <div class="header2">
                    <h2 class="headings">Brain Tumor Navigator</h2>
                </div>
                <hr>
                <div class="main">
                    <h3 class="headings">What is TumorScope?</h3>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;Step into the future of healthcare with TumorScope – your vigilant
                        companion in the fight against brain tumors. In a world where every second counts, our AI-driven
                        project is your first line of defense, empowering you with swift and accurate predictions like
                        never before. <br>

                        &nbsp;&nbsp;&nbsp;&nbsp;Harnessing the power of artificial intelligence, TumorScope has been
                        meticulously trained on a wealth of brain tumor data, enabling it to spot even the subtlest
                        signs with precision. Say goodbye to uncertainty and hello to proactive care. <br>

                        &nbsp;&nbsp;&nbsp;&nbsp;Whether you're a healthcare professional seeking reliable support or an
                        individual with concerns, TumorScope offers a seamless and intuitive platform for early
                        detection. It's time to rewrite the narrative of brain tumor diagnosis – join us in this
                        exciting journey towards a healthier tomorrow.
                    </p>
                </div>
            </div>
        </section>
        <section id="symp">
            <div class="container">
                <h3 class="headings" style="text-align: center;">Symptoms of Brain Tumor</h3>
                <ul class="symp">
                    <li>Headaches.</li>
                    <li>Seizures or convulsions.</li>
                    <li>Difficulty thinking, speaking or finding words.</li>
                    <li>Personality or behavior changes.</li>
                    <li>Weakness, numbness or paralysis in one part or one side of the body.</li>
                    <li>Loss of balance, dizziness or unsteadiness.</li>
                    <li>Loss of hearing.</li>
                    <li>Vision changes.</li>
                </ul>
            </div>
        </section>
        <section class="cause container">
            <div class="main">
                <h3 class="headings">Causes of Brain Tumor</h3>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Researchers know brain tumors develop when certain genes on the chromosomes of a cell are damaged and no longer function properly, but they aren’t sure why this happens. Your DNA in your chromosomes tells cells throughout your body what to do — it tells them when to grow, when to divide or multiply and/or when to die. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;When brain cell DNA changes, it gives your brain cells new instructions. Your body develops abnormal brain cells that grow and multiply faster than normal and sometimes live longer than normal. When that happens, the ever-growing crowd of abnormal cells takes over space in your brain. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;In some cases, a person may be born with changes in one or more of these genes. Environmental factors, such as exposure to large amounts of radiation from X-rays or previous cancer treatment, may then lead to further damage. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;In other cases, the environmental injury to the genes may be the only cause. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;There are a few rare, inherited (passed down from parent to child) genetic syndromes that are associated with brain tumors, including:
<ul class="symp">
<li>Neurofibromatosis type 1 (NF1 gene).</li>
<li>Neurofibromatosis type 2 (NF2 gene).</li>
<li>Turcot syndrome (APC gene).</li>
<li>Gorlin syndrome (PTCH gene).</li>
<li>Tuberous sclerosis complex (TSC1 and TSC2 genes).</li>
<li>Li-Fraumeni syndrome (TP53 gene).</li>
<li>Only about 5% to 10% of people with brain tumors have a family history of a brain tumor.</li>
</ul>          
                </p>
            </div>
        </section>
    </main>
</body>

</html>